/* latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v32/HhyaU5sn9vOmLzloC_WoEoZK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v13/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 250, 250, 250;

  --header-height: 4rem;

  --background-body: rgb(var(--background-rgb));

  --joy-fontFamily-display: "Mulish", -apple-system, "Roboto", sans-serif;
  --font-family: var(--joy-fontFamily-display);
}

html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 50, 50, 50;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-body);
  font-family: var(--font-family) !important;
}

* {
  font-family: var(--font-family) !important;
}

/* Prevent `margin-top` and `margin-left` when a <style/> is rendered inline */
[class*="space-x-"] > style:first-child + * {
  margin-left: 0 !important;
}
[class*="space-y-"] > style:first-child + * {
  margin-top: 0 !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .fric {
    /* Flex Row Items Center */
    @apply flex flex-row items-center;
  }

  .text-secondary {
    @apply text-gray-400 text-sm;
  }

  .as-link {
    @apply cursor-pointer hover:underline;
  }

  .is-link {
    @apply as-link text-blue-500;
  }

  .comment-styles {
    @apply min-h-24 w-[calc(100%+1px)] border-solid border-white border-r border-b border-l p-2 -ml-[1px];
  }

  .is-loading-mask {
    @apply opacity-50 select-none pointer-events-none;
  }
  .has-loading-mask {
    @apply transition-opacity duration-300;
  }
  .is-loading-mask.has-loading-mask.has-spinner {
    @apply relative; /* This is important to ensure center positioning */
  }
  .is-loading-mask.has-spinner::after {
    background-image: url("/grid.svg");
    background-size: 3rem;
    content: "";
    @apply bg-no-repeat bg-center absolute w-full h-full z-50 top-0;
  }
  .is-loading-mask.has-spinner::before {
    content: attr(data-loading);
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 translate-y-10;
  }
  .is-loading-mask.has-spinner:not([data-loading]):before {
    /* In case no `data-loading` attribute was set */
    content: "Loading...";
    @apply animate-pulse text-sm z-10;
  }

  .space-y-selfie {
    @apply space-y-48;
  }

  .selfie-list {
    @apply mx-auto w-11/12 sm:w-10/12 md:w-8/12 flex flex-col space-y-selfie mb-16;
  }
  .text-inset-shadow {
    background-color: #bbb;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) 0px 1px 0px;
  }
  .subtle-hover {
    @apply opacity-30 hover:opacity-100 transition-opacity;
  }

  .fill-screen {
    @apply min-h-[calc(100vh-var(--header-height))]
  }

}
